/* General */
$scale:14px;                    /* main font size */ 
$borderRadius:12px;             /* border radius of layout element e.g. card, drawer */ 
$transitionDuration:.2s;        /* transition duration of layout elements e.g. drawer, overlay menus */ 
